// variables
$toast-background-default: #818a91 !default;
$toast-background-dark: #000 !default;
$toast-background-light: #fff !default;
$toast-background-primary: $brand-primary !default;
$toast-background-info: $brand-info !default;
$toast-background-success: $brand-success !default;
$toast-background-warning: $brand-warning !default;
$toast-background-danger: $brand-danger !default;

// mixin
@mixin toast-context ($background, $color) {
    background-color: $background;
    color: $color;
}

// core styling
.toast-gritcode {
	display: block;
  position: fixed;
  min-height: 48px;
  min-width: 288px;
  max-width: 600px;
  padding: 16px 24px 16px 24px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  margin: 12px;
  font-size: 14px;
  cursor: default;
  transition: visibility 0.3s, transform 0.3s, opacity 0.3s;
  visibility: hidden;
  opacity: 0;
  transform: translateY(100px);
  -ms-transform: translateY(100px);
  z-index: 9999;
  display: table;
	&.active {	
		visibility: visible;
	  opacity: 1;
    transform: translateY(0px);
	  -ms-transform: translateY(0px);
	}
  &.top {
    top: 0;
    bottom: auto;
    transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    &.active {  
      transform: translateY(0px);
      -ms-transform: translateY(0px);
    }
  }
  &.right {
    left: auto;
    right: 0;
  }
	.progress-bar {
		position: absolute;
		left: 0;
		bottom: 0;
		height: 0.4em;
		background: rgba(255,255,255,0.3);
		width: 0;
		transition: width 3s;
		&.active {
			width: 100%;
		}
	}
	.message, .action {
    vertical-align: middle;
		display: table-cell;
	}
  .action {
    text-align: right;
  }
}

// contexts
.toast-gritcode {
    //default
    @include toast-context($toast-background-default, $toast-background-light);
    // other contexts
    &.toast-info {
        @include toast-context($toast-background-info, #fff);
    }
    &.toast-success {
        @include toast-context($toast-background-success, #fff);
    }
    &.toast-warning {
        @include toast-context($toast-background-warning, #fff);
    }
    &.toast-danger {
        @include toast-context($toast-background-danger, #fff);
    }
    &.toast-dark {
        @include toast-context($toast-background-dark, $toast-background-light);
    }
    &.toast-light {
        @include toast-context($toast-background-light, $toast-background-dark);
    }
}

// 
.lt-ie10, .ie9, .oldie, .no-csstransitions {
  .progress-bar {
    display: none;
  }
}